<div class="holder">
    <div class="panel-1">

        <div class="panel-1-inner" [class.flip]="this.flip">
            <div class="panel-1-front">
                <div class="flip-image" (click)="flipCard()"></div>
                <!-- <img class="image" src="{{data[index].front.imagepath}}" alt=""> -->
                <div class="image" [style.backgroundImage]="'url(' + data[index].front.imagepath + ')'"></div>

            </div>
            <div class="panel-1-back">
                <div class="flip-image" (click)="flipCard()"></div>
                <h1>{{data[index].back.name}}</h1>
                <p>{{data[index].back.profession}}</p>
                <p>{{data[index].back.about}}</p>
            </div>
        </div>
    </div>

    <div class="panel-2">
        <div class="shuffle-image" (click)="shuffle()"></div>
        <div class="left-arrow" (click)="previous()"></div>
        <div class="number">{{index+1}} of {{data.length}}</div>
        <div class="right-arrow" (click)="next()"></div>
        <div class="text-1">Term</div>
        <label class="switch">
      <input type="checkbox">
      <span class="slider round"></span>
    </label>
        <div class="text-2">Definition</div>
    </div>


</div>