.holder {
    position: absolute;
    height: 500px;
    width: 1000px;
    top: 30%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    /* border: 1px solid red; */
}

.panel-1 {
    position: absolute;
    top: 10px;
    left: 0px;
    background-color: transparent;
    border: none;
    width: 800px;
    height: 400px;
    perspective: 1000px;
    margin-left: 98px;
}

.panel-1-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    background-color: rgb(136, 214, 214);
    /* border: 1px solid red; */
}

.panel-1-front {
    background-color: rgb(136, 214, 214);
    color: black;
}

.flip-image {
    position: absolute;
    height: 40px;
    width: 40px;
    right: 10px;
    top: 10px;
    background-image: url(/assets/svg/card-flip.svg);
    background-repeat: no-repeat;
    background-size: contain;
    cursor: pointer;
}

.panel-2 {
    position: absolute;
    width: 100%;
    height: 60px;
    top: 86%;
    right: 6px;
    background-color: rgba(78, 146, 186, 0.99);
    /* border: 1px solid black; */
}

.shuffle-image {
    position: absolute;
    height: 30px;
    width: 30px;
    left: 10px;
    top: 12px;
    background-image: url(/assets/svg/shuffle.svg);
    background-repeat: no-repeat;
}

.left-arrow {
    position: absolute;
    height: 30px;
    width: 30px;
    left: 400px;
    top: 14px;
    background-image: url(/assets/svg/left.svg);
    background-repeat: no-repeat;
    cursor: pointer;
}

.number {
    position: absolute;
    height: 30px;
    width: 130px;
    top: 14px;
    left: 480px;
    font-size: 35px;
}

.right-arrow {
    position: absolute;
    height: 30px;
    width: 30px;
    left: 600px;
    top: 14px;
    background-image: url(/assets/svg/right.svg);
    background-repeat: no-repeat;
    cursor: pointer;
}

.text-1 {
    position: relative;
    width: 60px;
    height: 34px;
    top: 9px;
    left: 700px;
    font-size: 30px;
}

.text-2 {
    position: relative;
    width: 60px;
    height: 34px;
    bottom: 57px;
    left: 850px;
    font-size: 30px;
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
    bottom: 25px;
    left: 780px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0px;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked+.slider {
    background-color: #2196F3;
}

input:focus+.slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked+.slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}


/* Rounded sliders */

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

.panel-1-front,
.panel-1-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
}

.panel-1-back {
    background-color: rgb(136, 214, 214);
    color: white;
    transform: rotateY(180deg);
}

.image {
    width: 100%;
    height: 100%;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.flip-card {
    background-color: transparent;
    width: 300px;
    height: 300px;
    perspective: 1000px;
}

.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
}


/* .panel-1:hover .panel-1-inner {
    transform: rotateY(180deg);
} */

.flip {
    transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
}

.flip-card-front {
    background-color: #bbb;
    color: black;
}

.flip-card-back {
    background-color: #2980b9;
    color: white;
    transform: rotateY(180deg);
}